<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Photage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B64A53F11CD4AA5400E249D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B64A54051CD4AA5400E249D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B64A54101CD4AA5400E249D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
